* {
    box-sizing: border-box;
}

body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #FFFAF0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: #FF5733;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #FF5733;
    font-size: 16px;
    transition: color 0.3s, transform 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #FFC300;
    transform: scale(1.1);
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
    width: 400px;
}

.search-bar input {
    border: none;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    width: 80%;
}

.search-button, .clear-button {
    border: none;
    background-color: #FF5733;
    color: white;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.search-button:hover, .clear-button:hover {
    background-color: #FFC300;
}